<!-- <h2>Andy's Character</h2>
<div class="separator"></div>
<div style="display: flex;" class="medievalsharp-regular">
  <div class="class-icon-container">
    <img class="icon-edge-fade" [src]="'/assets/classes/' + randomImage" alt="Wizard" width="120" height="120">
  </div>
  <div style="display: flex; flex-direction: column; justify-content: space-around; padding-left: 20px;">
    <div>Name: Ithriael, The Liar</div>
    <div>Class: {{randomClass}}</div>
    <div>Level: #Level#</div>
  </div>
</div>
<br> -->

<app-character-magic-item-inventory />

<!-- Form for creating a new character -->
<label for="characterName">Character Name:</label>
<input type="text" id="characterName" name="characterName" [(ngModel)]="newCharacterName" required>
<label for="characterClass">Character Class:</label>
<select id="characterClass" name="characterClass" [(ngModel)]="newCharacterClass" required>
  <option value="Barbarian">Barbarian</option>
  <option value="Bard">Bard</option>
  <option value="Cleric">Cleric</option>
  <option value="Druid">Druid</option>
  <option value="Fighter">Fighter</option>
  <option value="Monk">Monk</option>
  <option value="Paladin">Paladin</option>
  <option value="Ranger">Ranger</option>
  <option value="Rogue">Rogue</option>
  <option value="Sorcerer">Sorcerer</option>
  <option value="Warlock">Warlock</option>
  <option value="Wizard">Wizard</option>
</select>
<label for="characterLevel">Character Level:</label>
<input type="number" id="characterLevel" name="characterLevel" [(ngModel)]="newCharacterLevel" min="1" max="20"
    required>

<button type="submit" (click)="createCharacter(newCharacterName, newCharacterClass, newCharacterLevel)">Create
  Character</button>
<hr>


@for (char of chars; track char.id) {
<div class="character-badge" (click)="selectCharacter(char)">
  <div class="badge-content">
    <div>
      <h2 id="name">{{ char.name }}</h2>
      <p>{{ char.char_class }}, lvl: {{ char.level }}</p>
    </div>
    <div>
      <p>Party: </p>
    </div>
  </div>
</div>

@if (char == selectedCharacter) {
<h2>Magic Items</h2>
@for (item of charMagicItems; track item.name) {
<span style="cursor: pointer;" (click)="deleteMagicItem('2', item)">X </span>
<span class="tooltip-parent"
    (mouseover)="showTooltipWithDelay(item)"
    (mouseout)="hideTooltipImmediately(item)">
  {{ item.name }} -- {{ item.rarity }}
  <span class="tooltip"
      [ngStyle]="{'visibility': item.showTooltip ? 'visible' : 'hidden'}">
    {{ item.desc }}
  </span>
</span>
}
}

}