  <h2>Andy's Character</h2>
  <div class="separator"></div>
  <div style="display: flex;" class="medievalsharp-regular">
    <div class="class-icon-container">
      <img class="icon-edge-fade" [src]="'/assets/classes/' + randomImage" alt="Wizard" width="120" height="120">
    </div>
    <div style="display: flex; flex-direction: column; justify-content: space-around; padding-left: 20px;">
      <div>Name: Ithriael, The Liar</div>
      <div>Class: {{randomClass}}</div>
      <div>Level: #Level#</div>
    </div>
    <app-character-magic-item-inventory />
  </div>
