/* You can add global styles to this file, and also import other style files */
body,
html,
app-root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #e7f1ee;
  font-family: "MedievalSharp", cursive;
  font-weight: 600;
  font-style: normal;
  scroll-padding: 0;
  background-image: url('assets/UI/backgroundmap.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
