/* You can add global styles to this file, and also import other style files */
body,
html,
app-root {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #e7f1ee;
  font-family: "MedievalSharp", cursive;
  font-weight: 600;
  font-style: normal;
  background-image: url('assets/UI/backgroundmap.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 4vw;
  padding-right: 4vw;
}

.class-icon-container {
    display: inline-block;
    box-shadow: 0 0 15px 10px white;
    /* Adjust the color to match your background */
    border-radius: 50%;
    /* Adjust for desired shape */
  }

.icon-edge-fade {
    display: block;
    border-radius: 50%;
    /* Match the container's border-radius */
  }
